flask
Flask-Compress==1.9.0
postmarker
gunicorn
flask-cors
flask-sock
flask-talisman
flask-caching
libsass
pytz
bleach
gevent
jmxquery
Cython>=0.29.24
pytz==2024.2
requests==2.32.3
asyncpg==0.29.0
beautifulsoup4==4.13.3
Flask-Limiter
confluent-kafka==2.5.3
rocksdb-py==0.0.5
scapy==2.6.1
SQLAlchemy==2.0.36