{% extends 'base.html' %}

{% block title %}
BGPDATA
{% endblock %}

{% block content %}
<div class="content__index">
    <div class="index__hero">
        <div class="hero__container">
            <span class="container__welcome-message"></span>
            <h1 class="container__heading">
                Explore the Internet
            </h1>
            <form
                class="container__search"
                role="search"
            >
                <i class="fa-sharp fa-light fa-magnifying-glass"></i>
                <label
                    class="search__label"
                    for="searchbar"
                >Search</label
                ><input
                    class="search__input"
                    type="text"
                    role="searchbox"
                    autocomplete="off"
                    id="searchbar"
                    placeholder="Enter an IP address/prefix, ASN, country code or hostname"
                />
                <div class="search__quickstart">
                    <div class="quickstart__my">
                        Your network:
                        <a class="my__asn" href="#">&nbsp;</a>,
                        <a class="my__prefix" href="#">&nbsp;</a>
                    </div>
                    <div class="quickstart__random">
                        Try one of these:
                        <a class="random__ipv4prefix" href="#">IPv4 Prefix</a>,
                        <a class="random__ipv4range" href="#">IPv4 Range</a>,
                        <a class="random__ipv6" href="#">IPv6</a>,
                        <a class="random__asn" href="#">ASN</a>
                    </div>
                </div>
            </form>
            <div class="container__cards">
                <a class="cards__item">
                    <div class="item__title">View your cases</div>
                    <div class="item__description">
                        Check the status of active cases and review case history
                    </div>
                    <i class="fa-sharp fa-light fa-eye"></i>
                </a>
                <a class="cards__item">
                    <div class="item__title">Open a case</div>
                    <div class="item__description">
                        If you're unable to resolve an issue on your own, receive help from our experts
                    </div>
                    <i class="fa-sharp fa-light fa-folder-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="index__content">
        <div class="content__wrapper">
            <div class="wrapper__container">
                <ul
                    class="container__table-of-contents"
                    data-current-section="Popular resources"
                >
                    {% for group in boards %}
                    <li>
                        <a
                            class="table-of-contents__item {{ 'table-of-contents__item--active' if loop.first else '' }}"
                            data-label="{{ group.name }}"
                            href="#{{ group.alias }}"
                            aria-current="location"
                        >{{ group.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="container__content" track-label="Forum Boards">
                    {% for group in boards %}
                    <section class="content__section">
                        <h2 class="section__title" id="{{ group.alias }}">{{ group.name }}</h2>
                        <div class="section__grid section__grid--small-gap {{ 'section__grid--small' if group.alias == 'standort-spezifisch' else '' }}">
                            {% for board in group.boards %}
                            <a class="grid__item {{ 'grid__item--small' if group.alias == 'standort-spezifisch' else '' }} {{ 'grid__item--hidden' if loop.index > 27 else '' }}" href="/board/{{ board.alias }}" target="_self" track-label="'{{ board.name }}' Board" track-style="inset">
                                {% if group.alias == 'standort-spezifisch' %}
                                <!-- START: Special case for 'Standorte' -->
                                <img class="item__icon item__icon--small" src="{{ url_for('static',filename=board.icon )}}"></img>
                                <div class="item__heading" translate="no">
                                    {{ board.name }}
                                </div>
                                <!-- END: Special case for 'Standorte' -->
                                {% else %}
                                <!-- START: Default case -->
                                <div class="item__eyebrow">
                                    {{ board.name }}
                                </div>
                                <div class="item__description">
                                    {{ board.description }}
                                </div>
                                {% if board.icon.startswith('fa-') %}
                                <i class="item__icon {{ board.icon }}"></i>
                                {% else %}
                                <img class="item__icon" src="{{ url_for('static',filename=board.icon )}}"></img>
                                {% endif %}
                                <!-- END: Default case -->
                                {% endif %}
                            </a>
                            {% endfor %}
                            {% if group.boards|length > 27 %}
                            <a class="grid__show-all">Alle anzeigen...</a>
                            {% endif %}
                        </div>
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="index__contact-us">
        <div class="contact-us__container">
            <div class="container__left-column">
                <h2 class="left-column__heading">Noch Fragen?</h2>
                <span class="left-column__subheading">Kontaktieren Sie uns oder die Bundeswehr direkt.</span>
            </div>
            <div class="container__right-column">
                <a class="right-column__item" href="https://www.bundeswehr.de/de/kontakt" target="_blank">
                    <div class="item__content">
                        <span class="content__title">Bundeswehr Kontakt</span>
                    </div>
                    <i class="fa-sharp fa-light fa-arrow-up-right-from-square"></i>
                </a>
                <a class="right-column__item" href="/faq">
                    <div class="item__content">
                        <span class="content__title">Unsere FAQ's</span>
                        <span class="content__description">Finden Sie Antworten auf häufig gestellte Fragen.</span>
                    </div>
                    <i class="fa-sharp fa-light fa-clipboard"></i>
                </a>
                <a class="right-column__item" href="/support">
                    <div class="item__content">
                        <span class="content__title">Hilfe & Support</span>
                        <span class="content__description">
                            Reichen Sie eine Anfrage in unserem Support-System ein, um ein Problem zu melden.</span>
                    </div>
                    <i class="fa-sharp fa-light fa-clipboard"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const showAllButton = document.querySelector('.grid__show-all');
        const hiddenItems = document.querySelectorAll('.grid__item--hidden');

        showAllButton.addEventListener('click', function() {
            hiddenItems.forEach(item => {
                item.classList.remove('grid__item--hidden');
            });
            showAllButton.style.display = 'none';
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', async function() {
        /* Table of Contents */
        const navLinks = content.querySelectorAll('.table-of-contents__item');
    
        function updateActiveLink() {
            const scrollPosition = window.scrollY;
    
            content.querySelectorAll('.section__title').forEach(item => {
                const itemTop = item.offsetTop - 100; // Adjust offset as needed
                const itemBottom = itemTop + item.offsetHeight;
    
                if (scrollPosition >= itemTop && scrollPosition < itemBottom) {
                    const id = item.getAttribute('id');
                    // Set URL Hash
                    window.history.pushState({}, '', `#${id}`);
                    // Update Active Link
                    navLinks.forEach(link => {
                        if (link.getAttribute('href') === `#${id}`) {
                            link.classList.add('table-of-contents__item--active');
                        } else {
                            link.classList.remove('table-of-contents__item--active');
                        }
                    });
                }
            });
        }
    
        navLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
    
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                    updateActiveLink();
                }
            });
        });
    
        // Update active link on scroll
        window.addEventListener('scroll', updateActiveLink);
    
        // Initialize active link on page load
        updateActiveLink();
    });
</script>
{% endblock %}
