<header id="header" aria-label="Bundeswehrforum">
    <div class="header__container">
        <a class="container__skip-to-content" href="#main-content"
            >Skip to main content</a
        >

        <!-- Logo -->
        <div class="container__logo">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" width="100%" height="100%" alt="BGPDATA">
            </a>
        </div>

        <!-- Search -->
        {% if request.path.startswith('/asn') %}
        {% include "components/searchbar.html" %}
        {% endif %}

        <!-- Actions -->
        <div class="container__actions">
            <!-- Actions Buttons -->
            {% if request.path.startswith('/shop') %}
            <a class="actions__button" href="/shop/cart">
                <i class="fa-sharp fa-light fa-cart-shopping"></i>
            </a>
            {% endif %}
            {% if profile %}
            <button 
                class="actions__button" 
                onclick="toggleNotifications()"
            >
                <i class="fa-sharp fa-light fa-message-middle"></i>
                {% if profile["notifications_count"] > 0 %}
                <span class="button__indicator"></span>
                {% endif %}
            </button>
            {% endif %}
            <a class="actions__button" href="{% if profile is none %}/login{% else %}/account{% endif %}">
                <i class="fa-sharp fa-light fa-user"></i>
            </a>
        </div>
    </div>
</header>
