<header id="header" aria-label="Bundeswehrforum">
    <div class="header__container">
        <a class="container__skip-to-content" href="#main-content"
            >Skip to main content</a
        >

        <!-- Logo -->
        <div class="container__logo">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" width="100%" height="100%" alt="BGPDATA">
            </a>
        </div>

        <!-- Search -->
        {% if request.path.startswith('/asn') %}
        {% include "components/searchbar.html" %}
        {% endif %}

        <!-- Actions -->
        <div class="container__actions">
            <!-- Data Rate -->
            <div class="actions__rate" id="rate">~0.00 kbit/s</div>
            <!-- Actions Buttons -->
            <a class="actions__button" href="{% if profile is none %}/login{% else %}/account{% endif %}">
                <i class="fa-sharp fa-light fa-user"></i>
            </a>
        </div>
    </div>
</header>
{{ script('
<script>
    const socket = new WebSocket(`ws://${window.location.host}/ws/v1/rate`);

    socket.onmessage = (event) => {
        document.getElementById("rate").innerText = `~${event.data} kbit/s`;
    };

    socket.onerror = (error) => {
        console.error("WebSocket error:", error);
    };

    socket.onclose = (event) => {
        console.log("WebSocket connection closed:", event.code, event.reason);
    };
</script>
') }}